[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
colorama = "*"
flask-sqlalchemy = "*"
pg8000 = "*"
datetime = "*"
boto3 = "*"
pillow = "*"
uuid = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
start = "python ./run.py"
